
/* main */

main { 
  background-color: white;
  min-height: 100vh; /* Assurez-vous que le main couvre au moins toute la hauteur de la fenêtre */
  margin-top: 958px !important;
  text-align: center;
} 

/* fin man  */



/* Header , nav bar , texte deroulant ( h1 )  */
nav {
  background-color: rgb(233, 229, 229, 0.2);
  position: fixed !important; /* Fixe la barre de navigation */
  top: 0; /* Place la barre de navigation en haut */
  width: 100%; /* Assure que la barre de navigation couvre toute la largeur de l'écran */
  z-index: 1000; /* Assure que la barre de navigation reste au-dessus des autres éléments */
}
header > .img::before {
  content: '';
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/public/moi.PNG');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5; /* Ajustez l'opacité pour la transparence */
  z-index: -1; /* Placez la superposition derrière le contenu */ /* Ajoutez une marge pour éviter que le contenu soit masqué derrière la barre de navigation */
}

h1 {
  color: rgb(4, 2, 6) !important;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  margin: 0; 
  font-weight: 900 !important;
  font-family: 'Baloo Bhai 2', cursive;
}



h2{ 
  font-size: 50px !important;
  padding: 150px !important;
}



/* incone  */
.mouse-icon {
	position: absolute;
	left: 50%;
  bottom: 20%;
	border: 2px solid #120101;
	border-radius: 0px 0px 50px 50px;
	height: 50px;
	width: 30px;
	margin-left: -15px;
	display: block;
	z-index: 10;
	opacity: 0.4;
  background-color: blue;
}

.mouse-icon .wheel {
	-webkit-animation-name: drop;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	animation-name: drop;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-play-state: running;
}

.mouse-icon .wheel {
	position: relative;
	border-radius: 10px;
	background: #fff;
	width: 4px;
	height: 10px;
	top: 6px;
	margin-left: auto;
	margin-right: auto;
  animation: moveUpDown 1s ease-in-out infinite alternate; /* Animation ajoutée */

}
@keyframes moveUpDown {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(20px); /* Déplace vers le haut */
	}
	100% {
		transform: translateY(0);
	}
}

.mouse-icon2 {
	position: absolute;
	left: 50%;
  margin-top: 30px ;
	border: 2px solid #120101;
	border-radius: 0px 0px 50px 50px;
	height: 50px;
	width: 30px;
	margin-left: -15px;
	display: block;
	z-index: 10;
	opacity: 0.4;
  background-color: blue;
}

.mouse-icon2 .wheel2 {
	-webkit-animation-name: drop;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	animation-name: drop;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-play-state: running;
}

.mouse-icon2 .wheel2 {
	position: relative;
	border-radius: 10px;
	background: #fff;
	width: 4px;
	height: 10px;
	top: 6px;
	margin-left: auto;
	margin-right: auto;
  animation: moveUpDown2 1s ease-in-out infinite alternate; /* Animation ajoutée */

}
@keyframes moveUpDown2 {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(20px); /* Déplace vers le haut */
	}
	100% {
		transform: translateY(0);
	}
}
/* fin Icone */

/* titeModule */
.module-header {
  margin: 0 0 50px;
  text-align: center;
  margin-top: 5px;
}

.module-header-left {
  text-align: left;
}

.module-header-left .module-line {
  width: inherit;
  margin: 30px 0;
}

.module-title {
  position: relative;
  padding: 10px;
  color: #635959;
  font-weight: 700;
}

.module-title span {
  color: blue;
  font-size: 100px;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 110px;
  z-index: 0;
  opacity: 0.09;
  font-weight: 900;
}
/* fin titleModule */

/* partit TexteImage */
#texte-image{ 
margin-top: 100px;
}
#iconeTexteImg{ 
  margin-top: 15px;
}
.carousselprogresse{
  width: 1300px !important;
}
.col-lg-6 > .PresentationCompetence { 
  margin-left: 28px;
}
ul > .progresseBarUl{
  margin-top: 50px;
  list-style-type: none; /* Supprime les puces des <li> */

}
.progress{ 
  width: 350px ;
}
#progressBar{ 
color: rgb(0, 0, 0);
background-color: orange;
font-family: 'Baloo Bhai 2', cursive;
font-weight: bold;
}
#progressBarHtml{ 
  color: rgb(0, 0, 0);
  background-color: red;
  font-family: 'Baloo Bhai 2', cursive;
font-weight: bold;
}
#progressBarCSS{ 
  color: black;
  font-family: 'Baloo Bhai 2', cursive;
font-weight: bold;
}
#progressBarReact{ 
  background-color: aqua;
  color: rgb(0, 0, 0);
  font-family: 'Baloo Bhai 2', cursive;
font-weight: bold;
}
.PresentationCompetence {
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Baloo Bhai 2', cursive;
font-weight: bold;
}

/* fin textImage */

/* imageSruvol */
.m1 {   
  text-align: center;
  color: white;
}

.flex-container {
  display: flex;
  justify-content: center; /* Centrer les images horizontalement */
  gap: 20px; /* Espacement entre les images */
  flex-wrap: wrap; /* Permettre aux images de passer à la ligne suivante si nécessaire */
}

.image {
  width: 500px;
  position: relative;
}

img {
  width: 100%;
}

.content {
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.image:hover .content {
  opacity: 1;
}

.content h4 {
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: 900;
}

.content p { 
  font-size: 18px;
  color: white;
}

/* fin imageSurvol */



/* Styles de base pour les éléments à animer */
.text-body-secondary {
  text-align: justify !important;
  font-size: 25px !important;
  font-style: italic !important;
  font-weight: 900;
}



/* Styles de base pour les éléments à animer */
.scroll-animate2 {
  opacity: 0;
  transform: translateX(30px); /* Déplacement initial pour l'effet de défilement */
  transition: opacity 1.5s ease-out, transform 1.5s ease-out; /* Animation de transition */
}

/* Styles appliqués lorsque les éléments sont visibles */
.scroll-animate2.visible {
  opacity: 1;
  transform: translateX(0); /* Ramène l'élément à sa position initiale */
}


.scroll-animateCarroussel {
  opacity: 0;
  transform: translateX(-30px); /* Déplacement initial pour l'effet de défilement */
  transition: opacity 1.5s ease-out, transform 1.5s ease-out; /* Animation de transition */
}

/* Styles appliqués lorsque les éléments sont visibles */
.scroll-animateCarroussel.visible{
  opacity: 1;
  transform: translateX(0); /* Ramène l'élément à sa position initiale */
}

.scroll-animateCompétence {
  opacity: 0;
  transform: translateY(30px); /* Déplacement initial pour l'effet de défilement */
  transition: opacity 1.5s ease-out, transform 1.5s ease-out; /* Animation de transition */
}

/* Styles appliqués lorsque les éléments sont visibles */
.scroll-animateCompétence.visible{
  opacity: 1;
  transform: translateY(0); /* Ramène l'élément à sa position initiale */
}


footer { 
  background-color: white;
  
}

@media (min-width: 578.99px) and ( max-width: 768.99px ) {
  header {
    height: 50vh; /* Réduisez la hauteur pour les écrans plus petits */
    background-position: top !important;
  }

  main {
    margin-top: 326px !important;
    margin-bottom: 0px !important;
  }
  h2{ 
    font-size: 30px !important;
  }
  h1{ 
    font-size: 15px !important;
  }


.module-header{ 
  margin: 0 !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.module-title span {
    font-size: 50px;
}

.module-title {
    font-size: 30px;
    padding: 125px !important;
}
  /* fin modul title */
  .PresentationClasse{
    text-align: justify !important;
    font-size: 20px !important;
    font-style: italic !important;
    font-weight: 900;
    padding: 0 !important;
    margin-top: 0px !important;
  }
}
